<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GeneralGamePlaying.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <GeneralGamePlaying.Properties.Settings>
            <setting name="WindowGeometry" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>"dummy"</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="WcfSvcHostExecutable" serializeAs="String">
                <value>C:\Program Files (x86)\Microsoft Visual Studio 10.0\Common7\IDE\WcfSvcHost.exe</value>
            </setting>
            <setting name="TempFilePath" serializeAs="String">
                <value>D:\temp\GeneralGamePlaying\</value>
            </setting>
            <setting name="InitialGameFileLocationDirectory" serializeAs="String">
                <value>D:\AI\Docs\GGPRulesSheetsAndOtherDocs</value>
            </setting>
            <setting name="InitialGameFileName" serializeAs="String">
                <value>tictactoe.kif</value>
            </setting>
        </GeneralGamePlaying.Properties.Settings>
    </userSettings>
</configuration>